<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Tech New Graduate and Internship Offers">
        <meta name="keywords" content="internship, job offer, new graduate jobs">
        <meta name="author" content="Aaron Zhao">
        <meta name="viewport" content="width=device-width" />
        <title><%= title %></title>
        <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.ico">
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
    </body>
</html>